<!-- views/details.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head') %>
	<title><%= title %></title>
</head>
<body>
	<%- include('partials/modals') %>

	<section class="topmatter">
		<%- include('partials/nav') %>
	</section>

	<% if (image) { %>
	<section class="cover-image" style="background-image: url('<%= image %>')"></section>
	<% } %>
	<div class="details__wrapper">		
		<div class="details">			
			<header class="details__topmatter" role="banner">
				<% if (owner === username) { %>
				<div class="edit__button">
					<a href="/spaces/<%= spaceID %>/edit" class="edit__link"><i class="material-icons">mode_edit</i></a>
				</div>
				<% } %>
				<h1 class="details__title"><%= title %></h1>
				<ul class="details__type">
					<li><i class="material-icons">location_city</i> <%= type %> in </li>
					<li><%= city %> <%= state %></li>
				</ul>
				<div class="details__owner">
					<a href="/user/<%= owner %>">
						<i class="material-icons owner__image">account_circle</i> 
						<p class="owner__name"><%= owner %></p>						
					</a>					
				</div>
			</header>
			<section class="description">
				<%= description %>
			</section>
			<% if (amenities.electricity || amenities.water || amenities.heat || amenities.bathroom) { %>
			<section class="amentities">
				<h3>Amenities</h3>				
				<ul>
					<% for (let item in amenities) {%>
						<% if (amenities[item]) { %>
							<li><%-item%></li>
						<% } %>
					<% } %>
				</ul>
			</section>
			<% } %>
		</div>
		<section class="rent">
			<% if (rates) { %>
			<ul class="rates">
				<% for (rate in rates) { -%>
					<li><span class="amt">$<%=rates[rate]%></span> <%=rate%></li>
				<% } -%>
			</ul>
			<% } else { %>			
				<p class="rates">Contact owner for rates<p>
			<% } %>
			<button class="rent">Rent Space</button>
		</section>
	</div>



	<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>