<!-- views/space_edit.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head') %>	
	<title>Edit <%= title %>| ply</title>
</head>
<body>		
	<section class="topmatter">	
		<nav role="navigation">
			<button class="logo" style="display: block;">ply</button>
		</nav>	
	</section>
	<div class="js-modal-wrapper">
		<div class="confirm__dialog__overlay"></div>
		<div class="modal__wrapper">
			<div class="modal__dialog confirm__dialog js-modal-dialog modal__cancel" role="dialog" tabindex="-1">
				<h4>Discard changes?</h4>
				<button class="cancel__action">Cancel</button>
				<button class="confirm__action discard edit space">Discard</button>
			</div>
		</div>	
		<div class="modal__wrapper">
			<div class="modal__dialog confirm__dialog js-modal-dialog modal__delete" role="dialog" tabindex="-1">
				<h4>Delete space?</h4>
				<button class="cancel__action">Cancel</button>
				<button class="confirm__action delete edit space">Delete</button>
			</div>
		</div>
		<div class="modal__wrapper">
			<div class="modal__dialog confirm__dialog js-modal-dialog modal__update" role="dialog" tabindex="-1">
				<h4>Update space?</h4>
				<button class="cancel__action">Cancel</button>
				<button class="confirm__action update edit space">Update</button>
			</div>
		</div>
	</div>

	<section class="static form__wrapper create space">
		<form id="update__form" action="/api/spaces/<%= spaceID %>" method="PUT">
			<h1>Edit <%= title %></h1>
			<input type="hidden" name="spaceID" value="<%= spaceID %>">
			<input type="hidden" name="owner" value="<%= owner %>">
			<fieldset name="title">
				<legend>Title</legend>
				<div class="input__group">									
					<input type="text" name="title" id="title" class="animated__label" value="<%= title %>" required />
					<label for="title" hidden>Title</label>		
					<p class="hint">e.g. "Heated garage space" or "Sunlit artist studio"</p>					
				</div>
			</fieldset>			
			<fieldset name="availability">
				<legend>Availability</legend>
				<div>
					<input type="checkbox" name="hourly" id="hourlyAvail" value="hourly" <% hourlyAvail ? "checked" : "" %>/>
					<label for="hourlyAvail" class="checkbox__label"><i class="material-icons" aria-hidden="true">access_time</i> Hourly</label>
				</div>
				<div>
					<input type="checkbox" name="daily" id="dailyAvail" value="daily" <% dailyAvail ? "checked" : "" %>/>
					<label for="hourlyAvail"  class="checkbox__label"><i class="material-icons">date_range</i> Daily</label>
				</div>
				<div>
					<input type="checkbox" name="monthly" id="monthlyAvail" value="monthly" <% monthlyAvail ? "checked" : "" %>/>
					<label for="monthlyAvail"  class="checkbox__label"><i class="material-icons">date_range</i> Monthly</label>
				</div>
				<div>
					<input type="checkbox" name="longTerm" id="longTerm" value="longTerm" <% longTerm ? "checked" : "" %>/>
					<label for="longTerm" class="checkbox__label"><i class="material-icons" aria-hidden="true">update</i> Available for long-term storage?</label>
				</div>
			</fieldset>
			<fieldset name="amenities">
				<legend>Any amenities?</legend>
				<div>
					<input type="checkbox" name="electricity" id="electricity" value="electricity" <% electricity ? "checked" : "" %>/>
					<label for="electricity" class="checkbox__label"><i class="material-icons" aria-hidden="true">power</i> Electricity</label>
				</div>
				<div>
					<input type="checkbox" name="heat" id="heat" value="heat" <% heat ? "checked" : "" %>/>
					<label for="heat" class="checkbox__label"><i class="material-icons" aria-hidden="true">whatshot</i> Heat</label>
				</div>
				<div>
					<input type="checkbox" name="water" id="water" value="water" <% water ? "checked" : "" %>/>
					<label for="water" class="checkbox__label"><i class="material-icons" aria-hidden="true">format_color_fill</i> Water</label>
				</div>
				<div>
					<input type="checkbox" name="bathroom" id="bathroom" value="bathroom" <% bathroom ? "checked" : "" %>/>
					<label for="bathroom" class="checkbox__label"><i class="material-icons" aria-hidden="true">room_service</i> Bathroom</label>
				</div>
			</fieldset>
			<fieldset name="description">
					<legend>Description</legend>
					<label class="label__regular" for="description">Let people know what makes your space unique!</label>			
					<textarea id="description" class="space__description" maxlength="275" cols="50" rows="10" placeholder="Here's where you can share information that doesn't fit into the rest of the form. (Limit 255 characters)" value="<%= description %>"></textarea>	
			</fieldset>
			<fieldset name="photos">
				<legend>Photo</legend>
				<div class="fileupload__wrapper">
					<div class="img__wrapper">
						<img id="img-uploaded" src="<%= image %>" alt="your image" />	
					</div>	
					<input type="file" name="photos" id="photos" class="inputfile" />
					<label for="photos" class="filelabel"><i class="material-icons" aria-hidden="true">add_a_photo</i> Add a photo</label>	
				</div>				
			</fieldset>
		</form>
	</section>

	<div class="edit__buttons">
		<button class="delete js-delete">Delete</button>						
		<button class="cancel js-cancel">Cancel</button>
		<button class="update js-update" type="submit">Update</button>
	</div>


	

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD37bTXyBCJV9iMHnfYZVKZK3-9oKq_vXM&libraries=places&callback=initAutocomplete" async defer></script>	
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript">spaceUpdateListeners()</script>
</body>
</html>