<!-- views/user_spaces.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head') %>	
	<title><%= username %>'s ply spaces</title>
</head>
<body>	
	<%- include('partials/modals') %>

	<section class="topmatter">
		<%- include('partials/nav') %>
	</section>
	
	<div class="container">
		<h1 class="page__title"><%= username %>'s spaces</h1>
	</div>
	
	<section class="results__wrapper">
		<div class="results"></div>
	</section>

	<script type="text/javascript" src="/js/index.js"></script>	
	<script type="text/javascript" src="/js/getresults.js"></script>
</body>
</html>